# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/
face_env/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp